# IntelliJ IDEA / JetBrains IDE
.idea/

# Dependency directories
node_modules/

# Build outputs
_site/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Logs
*.log

# Environment files
.env
.env.*

# Cache directories
.sass-cache/

# Editor directories and files
.vscode/
*.swp

# System files
.DS_Store

# Temporary files
tmp/

# Project specific ignores
Gemfile.lock
